body{
  font-family: vazir;
  font-weight: 300;
}
/* Make a gradiant backgroud */
.bg-gradiant {
  height: 100vh;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(110deg, #04a8fb 1%, #871faf 90%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(110deg, #04a8fb 1%, #871faf 90%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-landing {
  height: 100vh;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(110deg, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(110deg, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#particles-js{
  position: absolute;
  width: 100%;
  height: 99%;
}

@media(min-width: 768px){
  #sidebar {
    height: calc(100vh - 62px) !important;
    position: fixed;
  }
}

/*@media(max-width: 576px) {
    #sidebar {
        display: none !important;
    }
}*/

#sidebar .nav-link {
  color: #fff;
  transition: all .4s;
}
#sidebar .fa-angle-left{
  transition: .3s transform ease-in-out;
}
#sidebar .fa-angle-left {
  transform: rotate(-90deg);
}
#sidebar .collapsed .fa-angle-left {
  transform: rotate(0deg);
}

#sidebar .nav-link:hover {
  background-color: #444;
  border-radius: 5px;
}
/* end of navbar*/

/* Admin Dashboard */
.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 0px 5px 5px 0px;
  padding: 8px 16px;
  transition: all .4s;
}

#tableBtnInfo a{
  text-decoration: none;
}

.tableDataName{
  width: 34%;
}
.tableDataScore{
  width: 14%;
}
.tableDataNumber{
  width: 4%;
}

/* .spinner-off -webkit-inner-spin-button,-webkit-outer-spin-button {
  
} */

 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button
{
  -webkit-appearance: none; 
  -moz-appearance: none;
  /*appearance: none;*/
  margin: 0; 
}